html, body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ddd;
    overflow: clip;
    height: 100%;
}

#view {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
