html, body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ddd;
    overflow: clip;
    height: 100%;
    font-family: monospace;
}

* {
    line-height: 1.2;
}

#revision {
    color: #666;
    font-size: 0.6em;
}

.hexant-canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.prompt {
    padding: 0 0.8em 0.5em 0.8em;
    display: block;

    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 0;

    background-color: #333;
    color: #eee;
    border: none;
}

.prompt textarea {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    background-color: #334;
    color: #eee;
}

.prompt .help {
    word-wrap: pre;
}

a, a:visited {
    text-decoration: none;
    color: #aad;
}

a:hover {
    text-decoration: underline;
    color: #bbe;
}

a:active {
    color: #ccf;
}

footer {
    position: absolute;
    bottom: 0;
}
